@mixin wh100 { width: 100%; height: 100%; }

:host {
  @include wh100;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;


  #layout-container {
    @include wh100;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;

    #main-container {
      @include wh100;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      box-sizing: border-box;
    }
  }
}